In [ ]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "/content/drive/MyDrive/classification/Json_file_name_for_the_bigquery_config.json"

project_id = "Enter_the_project_id_here"
bq_client = bigquery.Client(project=project_id)

In [ ]:
import pandas as pd

In [ ]:
query_n = r'''
  SELECT t1.id as ID, t1.date as Date, title as Title, text as Claim, 
  STRING_AGG(distinct t2.group_id order by t2.group_id)
  AS cpc_subclass,
  FROM `patents-public-data.patentsview.patent` t1,
  `patents-public-data.patentsview.cpc_current` t2,
  `patents-public-data.patentsview.claim` t3
  where t1.id = t2.patent_id
  and t1.id = t3.patent_id
  and timestamp(t1.date) >= timestamp('2009-01-01')
  and timestamp(t1.date) <= timestamp('2009-12-31')
  and t3.sequence='1'
  and t1.type='utility'
  group by t1.id, t1.date, t3.text, t1.title
'''

df_n = bq_client.query(query_n).to_dataframe()

In [ ]:
df_n.shape

(167315, 5)

In [ ]:
df_n.to_csv('/content/drive/MyDrive/classification/cpc_dataset_2010_2020/2009.csv')

In [ ]:
df_n.head()

        ID  ...    cpc_subclass
0  7473268  ...       A61B,A61K
1  7473683  ...  A61K,C07D,C07H
2  7473560  ...       G01N,Y10T
3  7472455  ...       A45D,A47L
4  7474526  ...       G06F,H01L

[5 rows x 5 columns]

In [ ]:
df_n['Title'][0]

'Topical anti-inflammatory pharmaceutical composition with zileuton cream formulation'

In [ ]:
df_2019 = pd.read_csv('/content/drive/MyDrive/classification/cpc_dataset_2010_2020/2018.csv')

In [ ]:
df_2019.head()

   Unnamed: 0  ...                                               text
0           0  ...  1. A processor comprising: a plurality of core...
1           1  ...  1. A device for supporting a person's arms in ...
2           2  ...  1. A driving controller configured to drive a ...
3           3  ...  1. A method comprising: collecting, by one or ...
4           4  ...  1. A communication network in a power converte...

[5 rows x 5 columns]

In [ ]:
df_n[df_n['cpc_subclass']=='G06F,Y02B,Y02D']['ID']

2990      10168758
38966     10203901
47094     10216440
119309    10289191
156985    10324871
Name: ID, dtype: object

In [ ]:
df_2019[df_2019['cpc_ids']=='G06F,Y02B,Y02D']['id']

0         10168758
37591     10203901
50110     10216440
118675    10289191
155167    10324871
Name: id, dtype: int64

In [ ]:
df_2019.shape

(200452, 5)

In [ ]:
df_n.to_csv('/content/drive/MyDrive/classification/cpc_dataset_2010_2020/2018.csv')

In [ ]:
df_n.cpc_ids.value_counts()

G06F                   8541
H01L                   7067
H04L                   5472
H04N                   3420
G11B                   2470
                       ...
C07K,C12N,Y10S,Y10T       1
H03L,H04H                 1
A61F,Y02A                 1
C10L,Y02P                 1
A63H,B32B,G09F,Y10T       1
Name: cpc_ids, Length: 23672, dtype: int64

In [ ]:
df.head()

  cpc_class                                           abstract
0      B21C  A stainless steel pipe of the bright annealing...
1      C12Y  The present invention relates generally to α-L...
2      A01K  With known fishing reels of the anti-reverse t...
3      B65G  A tilting conveyor cart for a sorting conveyor...
4      F16F  The crankshaft of a piston engine is assembled...